<div class="before_play">
  <p id="notice"><%= notice %></p>

      <% @games.each do |game| %>
        <h3><%= game.name %></h3>
        <%= game.description %>
        <%= game.screenshot %>
        [<%= link_to 'Jouer', game %>]
       
      <% end %>
    
</div>
