<div class="before_play">
  <h1>Bienvenue sur Alkwabra974</h2>
  Inscription (obligatoire, anonyme & gratuite) en haut à droite !<br>
  (free compulsory registration at screen's top-right)<br>
  <a href="https://github.com/rodeofly/alkwabra974-rails/issues">Vous avez remarqué un bug : dite le !</a>
  <h3>Connexion</h3>
  

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "C'est parti !" %>
    </div>
  <% end %>
</div>

